@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --clr-primary: hsl(75, 94%, 57%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-gray-700: hsl(0, 0%, 20%);
    --clr-gray-800: hsl(0, 0%, 12%);
    --clr-gray-900: hsl(0, 0%, 8%);

    --ff-base: "Inter", sans-serif;
    --fs-secondary: 0.8rem;
    --fs-base: 0.875rem;
    --fs-heading: 1.5rem;

    --radius: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--clr-gray-900);
    color: var(--clr-white);
    font-family: var(--ff-base);
    font-size: var(--fs-base);
}

.card {
    background-color: var(--clr-gray-800);
    margin: auto;
    padding: 2.5rem;
    max-width: 24rem;
    width: 100%;
    border-radius: var(--radius);
}

@media (max-width: 480px) {
    .card {
        width: 325px;
        padding: 1.25rem;
    }
}

.card__img {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    margin-bottom: 1.25rem;
}

.card__name {
    font-size: var(--fs-heading);
    font-weight: 400;
    margin-bottom: .5rem;
    letter-spacing: .5px;
}

.card__location {
    color: var(--clr-primary);
    font-size: var(--fs-secondary);
    font-weight: 600;
    letter-spacing: .5px;
}

.card__desc {
    font-weight: 400;
    margin: 1.875rem 0;
    opacity: .75;
}

.card__socials {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.card__btn {
    width: 100%;
    padding: .75rem;
    background-color: var(--clr-gray-700);
    color: var(--clr-white);
    border-radius: var(--radius);
    text-decoration: none;
    font-weight: 600;
    font-size: .875rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.card__btn:hover,
.card__btn:focus {
   background-color: var(--clr-primary);
   color: var(--clr-gray-900);
   outline: none;
}

.attribution {
    margin-bottom: 10px;
}

.attribution a {
    color: var(--clr-primary);
    text-decoration: underline transparent;
    transition: text-decoration 0.5s ease;
}

.attribution a:hover,
.attribution a:focus {
    text-decoration-color: currentColor;
    outline: none;
}